<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <%= link_to("/", class: "header__link") do %>
          <% image_tag "logo_white.svg",
                       class: "header__logo",
                       alt: "ubergo",
                       title: "ubergo" %>
        <% end %>
      </div>
      <div class="col-sm-3 offset-sm-7">
        <div class="text_position_right">
          <%= link_to "+38 (068) 355 02 73",
                      "tel:+38 (068) 355 02 73",
                      class: "header__link text text_color_white" %>
        </div>
        <div class="text_position_right">
          <%= link_to "+38 (068) 373 00 78",
                      "tel:+38 (068) 373 00 78",
                      class: "header__link text text_color_white" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="module module_theme_inner">
    <div class="text text_size_h1 text_transform_uppercase spacer_bottom-40">
      UBER ЖДЕТ ТЕБЯ!
    </div>
    <div class="text text_size_h3 text_transform_uppercase spacer_bottom-110">
      УСЛОВИЯ И ТРЕБОВАНИЯ
    </div>

    <div class="spacer_bottom-75">
      <div class="row">
        <div class="col-sm-4">
          <%= image_tag("car_1.png", class: "category-image spacer_bottom-50") %>
          <div class="row">
            <div class="col-sm-10 offset-sm-1">
              <h2 class="text text_size_h2 spacer_bottom-25">Uber X</h2>
              <div class="text">
                Опрятная иномарка в исправном техническом состоянии не старше 1995 года. Марка автомобиля, например: Chevrolet Aveo, Chevrolet Lacetty, Skoda Rapid, VW Polo, Hyundai Accent, Opel Astra – или аналогичные марки.
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <%= image_tag("car_2.png", class: "category-image spacer_bottom-50") %>
          <div class="row">
            <div class="col-sm-10 offset-sm-1">
              <h2 class="text text_size_h2 spacer_bottom-25">Uber Select</h2>
              <div class="text">
                Опрятная иномарка в исправном техническом состоянии не старше 2005 года. Марка автомобиля, например: Toyota Camry, Hyundai Sonata, Skoda Superb – или аналогичные марки.
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <%= image_tag("car_3.png", class: "category-image spacer_bottom-50") %>
          <div class="row">
            <div class="col-sm-10 offset-sm-1">
              <h2 class="text text_size_h2 spacer_bottom-25">Uber Black</h2>
              <div class="text">
                Автомобиль представительcкого класса не старше 2007 года.Марка автомобиля, например: Mercedes E/S-Class, Audi A6/A8, BMW 5-series/7-series – или аналогичные марки.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
