<%= render "shared/header" %>

<div class="module module_theme_greeting">
  <div class="text text_size_h1 text_color_white text_transform_uppercase spacer_bottom-40">
    Стань водителем UBER
  </div>
  <div class="container">
    <div class="text text_size_h3 text_color_white spacer_bottom-110">
      UberGo - официальный представитель компании Uber в Украине.
      <br>
      UberGo дает возможность водителям заработать сегодня.
      <br>
      Свободный график, ежедневные выплаты, бонусы за поездки, скидки на топливо.
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-sm-3">
        <a href="#" class="button"  data-toggle="modal" data-target=".modal">Стать водителем UBER</a>
      </div>
      <div class="col-sm-3 offset-sm-1">
        <a href="#" class="button">Сменить партнера</a>
      </div>
    </div>
  </div>
</div>

<div class="module module_theme_greeting" style="background-image: url('https://images.pexels.com/photos/974035/pexels-photo-974035.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=1200&w=800');">
  <div class="text text_size_h1 text_color_white text_transform_uppercase spacer_bottom-40">
    Стань водителем UBER в Киеве
  </div>
  <div class="text text_size_h3 text_color_white text_transform_uppercase spacer_bottom-110">
    ЗАРАБАТЫВАЙТЕ ДО 40000 ГРН/МЕС НА ЛУЧШИХ УСЛОВИЯХ - КОМИССИЯ 7%
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <a href="#" class="button">Стать водителем UBER</a>
      </div>
      <div class="col-sm-3 offset-sm-1">
        <a href="#" class="button">Условия</a>
      </div>
      <div class="col-sm-3 offset-sm-1">
        <a href="#" class="button">Сменить партнера</a>
      </div>
    </div>
  </div>
</div>

<div class="module module_theme_greeting" style="background-image: url('https://images.pexels.com/photos/164357/pexels-photo-164357.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=1200&w=800');">
  <div class="text text_size_h1 text_color_white text_transform_uppercase spacer_bottom-40">
    Стань водителем UBER в Киеве
  </div>
  <div class="text text_size_h3 text_color_white text_transform_uppercase spacer_bottom-110">
    ЗАРАБАТЫВАЙТЕ ДО 40000 ГРН/МЕС НА ЛУЧШИХ УСЛОВИЯХ - КОМИССИЯ 7%
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <a href="#" class="button">Стать водителем UBER</a>
      </div>
      <div class="col-sm-3 offset-sm-1">
        <a href="#" class="button">Условия</a>
      </div>
      <div class="col-sm-3 offset-sm-1">
        <a href="#" class="button">Сменить партнера</a>
      </div>
    </div>
  </div>
</div>

<div class="module module_theme_greeting" style="background-image: url('https://images.pexels.com/photos/951240/pexels-photo-951240.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=1200&w=800');">
  <div class="text text_size_h1 text_color_white text_transform_uppercase spacer_bottom-40">
    Стань водителем UBER в Киеве
  </div>
  <div class="text text_size_h3 text_color_white text_transform_uppercase spacer_bottom-110">
    ЗАРАБАТЫВАЙТЕ ДО 40000 ГРН/МЕС НА ЛУЧШИХ УСЛОВИЯХ - КОМИССИЯ 7%
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <a href="#" class="button">Стать водителем UBER</a>
      </div>
      <div class="col-sm-3 offset-sm-1">
        <a href="#" class="button">Условия</a>
      </div>
      <div class="col-sm-3 offset-sm-1">
        <a href="#" class="button">Сменить партнера</a>
      </div>
    </div>
  </div>
</div>

<div class="module module_theme_greeting" style="background-image: url('https://images.pexels.com/photos/975483/pexels-photo-975483.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=1200&w=800');">
  <div class="text text_size_h1 text_color_white text_transform_uppercase spacer_bottom-40">
    Стань водителем UBER в Киеве
  </div>
  <div class="text text_size_h3 text_color_white text_transform_uppercase spacer_bottom-110">
    ЗАРАБАТЫВАЙТЕ ДО 40000 ГРН/МЕС НА ЛУЧШИХ УСЛОВИЯХ - КОМИССИЯ 7%
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <a href="#" class="button">Стать водителем UBER</a>
      </div>
      <div class="col-sm-3 offset-sm-1">
        <a href="#" class="button">Условия</a>
      </div>
      <div class="col-sm-3 offset-sm-1">
        <a href="#" class="button">Сменить партнера</a>
      </div>
    </div>
  </div>
</div>

<div class="module module_theme_greeting" style="background-image: url('https://images.pexels.com/photos/70912/pexels-photo-70912.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=1200&w=800');">
  <div class="text text_size_h1 text_color_white text_transform_uppercase spacer_bottom-40">
    Стань водителем UBER в Киеве
  </div>
  <div class="text text_size_h3 text_color_white text_transform_uppercase spacer_bottom-110">
    ЗАРАБАТЫВАЙТЕ ДО 40000 ГРН/МЕС НА ЛУЧШИХ УСЛОВИЯХ - КОМИССИЯ 7%
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <a href="#" class="button">Стать водителем UBER</a>
      </div>
      <div class="col-sm-3 offset-sm-1">
        <a href="#" class="button">Условия</a>
      </div>
      <div class="col-sm-3 offset-sm-1">
        <a href="#" class="button">Сменить партнера</a>
      </div>
    </div>
  </div>
</div>

<div class="module module_theme_greeting" style="background-image: url('https://images.pexels.com/photos/804915/pexels-photo-804915.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=1200&w=800');">
  <div class="text text_size_h1 text_color_white text_transform_uppercase spacer_bottom-40">
    Стань водителем UBER в Киеве
  </div>
  <div class="text text_size_h3 text_color_white text_transform_uppercase spacer_bottom-110">
    ЗАРАБАТЫВАЙТЕ ДО 40000 ГРН/МЕС НА ЛУЧШИХ УСЛОВИЯХ - КОМИССИЯ 7%
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <a href="#" class="button">Стать водителем UBER</a>
      </div>
      <div class="col-sm-3 offset-sm-1">
        <a href="#" class="button">Условия</a>
      </div>
      <div class="col-sm-3 offset-sm-1">
        <a href="#" class="button">Сменить партнера</a>
      </div>
    </div>
  </div>
</div>

<div class="module module_theme_greeting" style="background-image: url('https://images.pexels.com/photos/104836/speed-car-vehicle-drive-104836.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=1200&w=800');">
  <div class="text text_size_h1 text_color_white text_transform_uppercase spacer_bottom-40">
    Стань водителем UBER в Киеве
  </div>
  <div class="text text_size_h3 text_color_white text_transform_uppercase spacer_bottom-110">
    ЗАРАБАТЫВАЙТЕ ДО 40000 ГРН/МЕС НА ЛУЧШИХ УСЛОВИЯХ - КОМИССИЯ 7%
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <a href="#" class="button">Стать водителем UBER</a>
      </div>
      <div class="col-sm-3 offset-sm-1">
        <a href="#" class="button">Условия</a>
      </div>
      <div class="col-sm-3 offset-sm-1">
        <a href="#" class="button">Сменить партнера</a>
      </div>
    </div>
  </div>
</div>

<div class="module module_theme_greeting" style="background-image: url('https://images.pexels.com/photos/8775/traffic-car-vehicle-black.jpg?auto=compress&cs=tinysrgb&fit=crop&h=1200&w=800');">
  <div class="text text_size_h1 text_color_white text_transform_uppercase spacer_bottom-40">
    Стань водителем UBER в Киеве
  </div>
  <div class="text text_size_h3 text_color_white text_transform_uppercase spacer_bottom-110">
    ЗАРАБАТЫВАЙТЕ ДО 40000 ГРН/МЕС НА ЛУЧШИХ УСЛОВИЯХ - КОМИССИЯ 7%
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <a href="#" class="button">Стать водителем UBER</a>
      </div>
      <div class="col-sm-3 offset-sm-1">
        <a href="#" class="button">Условия</a>
      </div>
      <div class="col-sm-3 offset-sm-1">
        <a href="#" class="button">Сменить партнера</a>
      </div>
    </div>
  </div>
</div>

<div class="module module_theme_greeting" style="background-image: url('https://cdn.pixabay.com/photo/2018/03/28/11/17/analytics-3268935_960_720.png');">
  <div class="text text_size_h1 text_color_white text_transform_uppercase spacer_bottom-40">
    Стань водителем UBER в Киеве
  </div>
  <div class="text text_size_h3 text_color_white text_transform_uppercase spacer_bottom-110">
    ЗАРАБАТЫВАЙТЕ ДО 40000 ГРН/МЕС НА ЛУЧШИХ УСЛОВИЯХ - КОМИССИЯ 7%
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <a href="#" class="button">Стать водителем UBER</a>
      </div>
      <div class="col-sm-3 offset-sm-1">
        <a href="#" class="button">Условия</a>
      </div>
      <div class="col-sm-3 offset-sm-1">
        <a href="#" class="button">Сменить партнера</a>
      </div>
    </div>
  </div>
</div>

<div class="module module_theme_greeting" style="background-image: url('https://cdn.pixabay.com/photo/2013/07/18/10/56/packs-163497_960_720.jpg');">
  <div class="text text_size_h1 text_color_white text_transform_uppercase spacer_bottom-40">
    Стань водителем UBER в Киеве
  </div>
  <div class="text text_size_h3 text_color_white text_transform_uppercase spacer_bottom-110">
    ЗАРАБАТЫВАЙТЕ ДО 40000 ГРН/МЕС НА ЛУЧШИХ УСЛОВИЯХ - КОМИССИЯ 7%
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <a href="#" class="button">Стать водителем UBER</a>
      </div>
      <div class="col-sm-3 offset-sm-1">
        <a href="#" class="button">Условия</a>
      </div>
      <div class="col-sm-3 offset-sm-1">
        <a href="#" class="button">Сменить партнера</a>
      </div>
    </div>
  </div>
</div>

<div class="module module_theme_greeting" style="background-image: url('https://cdn.pixabay.com/photo/2014/02/01/18/01/money-256319_960_720.jpg');">
  <div class="text text_size_h1 text_color_white text_transform_uppercase spacer_bottom-40">
    Стань водителем UBER в Киеве
  </div>
  <div class="text text_size_h3 text_color_white text_transform_uppercase spacer_bottom-110">
    ЗАРАБАТЫВАЙТЕ ДО 40000 ГРН/МЕС НА ЛУЧШИХ УСЛОВИЯХ - КОМИССИЯ 7%
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <a href="#" class="button">Стать водителем UBER</a>
      </div>
      <div class="col-sm-3 offset-sm-1">
        <a href="#" class="button">Условия</a>
      </div>
      <div class="col-sm-3 offset-sm-1">
        <a href="#" class="button">Сменить партнера</a>
      </div>
    </div>
  </div>
</div>

<div class="module module_theme_greeting" style="background-image: url('https://cdn.pixabay.com/photo/2016/04/25/23/53/euro-1353420_960_720.jpg');">
  <div class="text text_size_h1 text_color_white text_transform_uppercase spacer_bottom-40">
    Стань водителем UBER в Киеве
  </div>
  <div class="text text_size_h3 text_color_white text_transform_uppercase spacer_bottom-110">
    ЗАРАБАТЫВАЙТЕ ДО 40000 ГРН/МЕС НА ЛУЧШИХ УСЛОВИЯХ - КОМИССИЯ 7%
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <a href="#" class="button">Стать водителем UBER</a>
      </div>
      <div class="col-sm-3 offset-sm-1">
        <a href="#" class="button">Условия</a>
      </div>
      <div class="col-sm-3 offset-sm-1">
        <a href="#" class="button">Сменить партнера</a>
      </div>
    </div>
  </div>
</div>

<div class="module module_theme_greeting" style="background-image: url('https://cdn.pixabay.com/photo/2018/03/11/09/09/time-3216244_960_720.jpg');">
  <div class="text text_size_h1 text_color_white text_transform_uppercase spacer_bottom-40">
    Стань водителем UBER в Киеве
  </div>
  <div class="text text_size_h3 text_color_white text_transform_uppercase spacer_bottom-110">
    ЗАРАБАТЫВАЙТЕ ДО 40000 ГРН/МЕС НА ЛУЧШИХ УСЛОВИЯХ - КОМИССИЯ 7%
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <a href="#" class="button">Стать водителем UBER</a>
      </div>
      <div class="col-sm-3 offset-sm-1">
        <a href="#" class="button">Условия</a>
      </div>
      <div class="col-sm-3 offset-sm-1">
        <a href="#" class="button">Сменить партнера</a>
      </div>
    </div>
  </div>
</div>

<div class="module module_theme_greeting" style="background-image: url('https://cdn.pixabay.com/photo/2018/04/24/13/34/golden-3346988_960_720.jpg');">
  <div class="text text_size_h1 text_color_white text_transform_uppercase spacer_bottom-40">
    Стань водителем UBER в Киеве
  </div>
  <div class="text text_size_h3 text_color_white text_transform_uppercase spacer_bottom-110">
    ЗАРАБАТЫВАЙТЕ ДО 40000 ГРН/МЕС НА ЛУЧШИХ УСЛОВИЯХ - КОМИССИЯ 7%
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <a href="#" class="button">Стать водителем UBER</a>
      </div>
      <div class="col-sm-3 offset-sm-1">
        <a href="#" class="button">Условия</a>
      </div>
      <div class="col-sm-3 offset-sm-1">
        <a href="#" class="button">Сменить партнера</a>
      </div>
    </div>
  </div>
</div>

<div class="module module_theme_greeting" style="background-image: url('https://cdn.pixabay.com/photo/2018/02/14/10/28/people-3152585_960_720.jpg');">
  <div class="text text_size_h1 text_color_white text_transform_uppercase spacer_bottom-40">
    Стань водителем UBER в Киеве
  </div>
  <div class="text text_size_h3 text_color_white text_transform_uppercase spacer_bottom-110">
    ЗАРАБАТЫВАЙТЕ ДО 40000 ГРН/МЕС НА ЛУЧШИХ УСЛОВИЯХ - КОМИССИЯ 7%
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <a href="#" class="button">Стать водителем UBER</a>
      </div>
      <div class="col-sm-3 offset-sm-1">
        <a href="#" class="button">Условия</a>
      </div>
      <div class="col-sm-3 offset-sm-1">
        <a href="#" class="button">Сменить партнера</a>
      </div>
    </div>
  </div>
</div>

<div class="module module_theme_greeting" style="background-image: url('https://cdn.pixabay.com/photo/2018/05/02/11/29/technology-3368393_960_720.jpg');">
  <div class="text text_size_h1 text_color_white text_transform_uppercase spacer_bottom-40">
    Стань водителем UBER в Киеве
  </div>
  <div class="text text_size_h3 text_color_white text_transform_uppercase spacer_bottom-110">
    ЗАРАБАТЫВАЙТЕ ДО 40000 ГРН/МЕС НА ЛУЧШИХ УСЛОВИЯХ - КОМИССИЯ 7%
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <a href="#" class="button">Стать водителем UBER</a>
      </div>
      <div class="col-sm-3 offset-sm-1">
        <a href="#" class="button">Условия</a>
      </div>
      <div class="col-sm-3 offset-sm-1">
        <a href="#" class="button">Сменить партнера</a>
      </div>
    </div>
  </div>
</div>

<div class="module module_theme_greeting" style="background-image: url('https://cdn.pixabay.com/photo/2018/04/23/21/00/city-3345496_960_720.jpg');">
  <div class="text text_size_h1 text_color_white text_transform_uppercase spacer_bottom-40">
    Стань водителем UBER в Киеве
  </div>
  <div class="text text_size_h3 text_color_white text_transform_uppercase spacer_bottom-110">
    ЗАРАБАТЫВАЙТЕ ДО 40000 ГРН/МЕС НА ЛУЧШИХ УСЛОВИЯХ - КОМИССИЯ 7%
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <a href="#" class="button">Стать водителем UBER</a>
      </div>
      <div class="col-sm-3 offset-sm-1">
        <a href="#" class="button">Условия</a>
      </div>
      <div class="col-sm-3 offset-sm-1">
        <a href="#" class="button">Сменить партнера</a>
      </div>
    </div>
  </div>
</div>

<div class="module module_theme_greeting" style="background-image: url('https://cdn.pixabay.com/photo/2018/04/13/20/31/city-3317493_960_720.jpg');">
  <div class="text text_size_h1 text_color_white text_transform_uppercase spacer_bottom-40">
    Стань водителем UBER в Киеве
  </div>
  <div class="text text_size_h3 text_color_white text_transform_uppercase spacer_bottom-110">
    ЗАРАБАТЫВАЙТЕ ДО 40000 ГРН/МЕС НА ЛУЧШИХ УСЛОВИЯХ - КОМИССИЯ 7%
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <a href="#" class="button">Стать водителем UBER</a>
      </div>
      <div class="col-sm-3 offset-sm-1">
        <a href="#" class="button">Условия</a>
      </div>
      <div class="col-sm-3 offset-sm-1">
        <a href="#" class="button">Сменить партнера</a>
      </div>
    </div>
  </div>
</div>

<div class="module module_theme_greeting" style="background-image: url('https://cdn.pixabay.com/photo/2018/04/29/01/17/hanoi-3358841_960_720.jpg');">
  <div class="text text_size_h1 text_color_white text_transform_uppercase spacer_bottom-40">
    Стань водителем UBER в Киеве
  </div>
  <div class="text text_size_h3 text_color_white text_transform_uppercase spacer_bottom-110">
    ЗАРАБАТЫВАЙТЕ ДО 40000 ГРН/МЕС НА ЛУЧШИХ УСЛОВИЯХ - КОМИССИЯ 7%
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <a href="#" class="button">Стать водителем UBER</a>
      </div>
      <div class="col-sm-3 offset-sm-1">
        <a href="#" class="button">Условия</a>
      </div>
      <div class="col-sm-3 offset-sm-1">
        <a href="#" class="button">Сменить партнера</a>
      </div>
    </div>
  </div>
</div>

<div class="module module_theme_greeting" style="background-image: url('https://cdn.pixabay.com/photo/2018/04/27/19/36/city-3355665_960_720.jpg');">
  <div class="text text_size_h1 text_color_white text_transform_uppercase spacer_bottom-40">
    Стань водителем UBER в Киеве
  </div>
  <div class="text text_size_h3 text_color_white text_transform_uppercase spacer_bottom-110">
    ЗАРАБАТЫВАЙТЕ ДО 40000 ГРН/МЕС НА ЛУЧШИХ УСЛОВИЯХ - КОМИССИЯ 7%
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <a href="#" class="button">Стать водителем UBER</a>
      </div>
      <div class="col-sm-3 offset-sm-1">
        <a href="#" class="button">Условия</a>
      </div>
      <div class="col-sm-3 offset-sm-1">
        <a href="#" class="button">Сменить партнера</a>
      </div>
    </div>
  </div>
</div>

<div class="module module_theme_greeting" style="background-image: url('https://cdn.pixabay.com/photo/2017/01/18/16/46/hong-kong-1990268_960_720.jpg');">
  <div class="text text_size_h1 text_color_white text_transform_uppercase spacer_bottom-40">
    Стань водителем UBER в Киеве
  </div>
  <div class="text text_size_h3 text_color_white text_transform_uppercase spacer_bottom-110">
    ЗАРАБАТЫВАЙТЕ ДО 40000 ГРН/МЕС НА ЛУЧШИХ УСЛОВИЯХ - КОМИССИЯ 7%
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <a href="#" class="button">Стать водителем UBER</a>
      </div>
      <div class="col-sm-3 offset-sm-1">
        <a href="#" class="button">Условия</a>
      </div>
      <div class="col-sm-3 offset-sm-1">
        <a href="#" class="button">Сменить партнера</a>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content popup">
      <span class="popup__close" data-dismiss="modal">×</span>

      <h2 class="text text_size_h3 spacer_bottom-25">Стать водителем UBER</h2>

      <%= form_for Driver.new, class: "form-uber" do |f| %>
        <div class="form-uber__item">
          <%= f.text_field :last_name, placeholder: "Фамилия", class: "form-uber__field" %>
        </div>
        <div class="form-uber__item">
          <%= f.text_field :first_name, placeholder: "Имя", class: "form-uber__field" %>
        </div>
        <div class="form-uber__item">
          <%= f.telephone_field :phone, placeholder: "Телефон", class: "form-uber__field" %>
        </div>
        <div class="form-uber__item">
          <%= f.email_field :email, placeholder: "Email", class: "form-uber__field" %>
        </div>
        <div class="form-uber__item">
          <%= f.text_field :bank, placeholder: "№ Карты. Название банка", class: "form-uber__field" %>
        </div>
        <div class="form-uber__item">
          <%= f.select :city, options_for_select(['Киев', 'Днепр']), {}, class: "form-uber__field" %>
        </div>
        <div class="form-uber__item">
          <%= f.fields_for :driver_license_front_attributes, f.object.build_driver_license_front do |dlff|%>
            <%= dlff.file_field :file, class: "form-uber__field" %>
          <% end %>
        </div>
        <div class="form-uber__item">
          <%= f.fields_for :driver_license_back_attributes, f.object.build_driver_license_back do |dlbf|%>
            <%= dlbf.file_field :file, class: "form-uber__field" %>
          <% end %>
        </div>
        <div class="form-uber__item">
          <%= f.fields_for :driver_tech_front_attributes, f.object.build_driver_tech_front do |dtf|%>
            <%= dtf.file_field :file, class: "form-uber__field" %>
          <% end %>
        </div>
        <div class="form-uber__item">
          <%= f.fields_for :driver_tech_back_attributes, f.object.build_driver_tech_back do |dtb|%>
            <%= dtb.file_field :file, class: "form-uber__field" %>
          <% end %>
        </div>
        <div class="form-uber__item">
          <%= f.fields_for :driver_osago_attributes, f.object.build_driver_osago do |dosago|%>
            <%= dosago.file_field :file, class: "form-uber__field" %>
          <% end %>
        </div>
        <div class="form-uber__item">
          <%= f.submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>
