<%= render "shared/header" %>

<div class="module module_theme_greeting">
  <div class="text text_size_h1 text_color_white text_transform_uppercase spacer_bottom-40">
    Стань водителем UBER
  </div>
  <div class="container">
    <div class="text text_size_h3 text_color_white spacer_bottom-110">
      UberGo - официальный представитель компании Uber в Украине.
      <br>
      UberGo дает возможность водителям заработать сегодня.
      <br>
      Свободный график, ежедневные выплаты, бонусы за поездки, скидки на топливо.
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-sm-3">
        <a href="#" class="button"  data-toggle="modal" data-target=".modal">Стать водителем UBER</a>
      </div>
      <div class="col-sm-3 offset-sm-1">
        <a href="#" class="button">Сменить партнера</a>
      </div>
    </div>
  </div>
</div>

<div class="module module_theme_greeting" style="background-image: url('https://images.pexels.com/photos/170778/pexels-photo-170778.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=1200&w=800');">
  <div class="text text_size_h1 text_color_white text_transform_uppercase spacer_bottom-40">
    Стань водителем UBER
  </div>
  <div class="container">
    <div class="text text_size_h3 text_color_white spacer_bottom-110">
      UberGo - официальный представитель компании Uber в Украине.
      <br>
      UberGo дает возможность водителям заработать сегодня.
      <br>
      Свободный график, ежедневные выплаты, бонусы за поездки, скидки на топливо.
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-sm-3">
        <a href="#" class="button"  data-toggle="modal" data-target=".modal">Стать водителем UBER</a>
      </div>
      <div class="col-sm-3 offset-sm-1">
        <a href="#" class="button">Сменить партнера</a>
      </div>
    </div>
  </div>
</div>

<div class="module module_theme_greeting" style="background-image: url('https://images.pexels.com/photos/842948/pexels-photo-842948.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=1200&w=800');">
  <div class="text text_size_h1 text_color_white text_transform_uppercase spacer_bottom-40">
    Стань водителем UBER
  </div>
  <div class="container">
    <div class="text text_size_h3 text_color_white spacer_bottom-110">
      UberGo - официальный представитель компании Uber в Украине.
      <br>
      UberGo дает возможность водителям заработать сегодня.
      <br>
      Свободный график, ежедневные выплаты, бонусы за поездки, скидки на топливо.
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-sm-3">
        <a href="#" class="button"  data-toggle="modal" data-target=".modal">Стать водителем UBER</a>
      </div>
      <div class="col-sm-3 offset-sm-1">
        <a href="#" class="button">Сменить партнера</a>
      </div>
    </div>
  </div>
</div>

<div class="module module_theme_greeting" style="background-image: url('https://images.pexels.com/photos/2255/black-and-white-city-houses-skyline.jpg?auto=compress&cs=tinysrgb&fit=crop&h=1200&w=800');">
  <div class="text text_size_h1 text_color_white text_transform_uppercase spacer_bottom-40">
    Стань водителем UBER
  </div>
  <div class="container">
    <div class="text text_size_h3 text_color_white spacer_bottom-110">
      UberGo - официальный представитель компании Uber в Украине.
      <br>
      UberGo дает возможность водителям заработать сегодня.
      <br>
      Свободный график, ежедневные выплаты, бонусы за поездки, скидки на топливо.
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-sm-3">
        <a href="#" class="button"  data-toggle="modal" data-target=".modal">Стать водителем UBER</a>
      </div>
      <div class="col-sm-3 offset-sm-1">
        <a href="#" class="button">Сменить партнера</a>
      </div>
    </div>
  </div>
</div>

<div class="module module_theme_greeting" style="background-image: url('https://images.pexels.com/photos/316902/pexels-photo-316902.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=1200&w=800');">
  <div class="text text_size_h1 text_color_white text_transform_uppercase spacer_bottom-40">
    Стань водителем UBER
  </div>
  <div class="container">
    <div class="text text_size_h3 text_color_white spacer_bottom-110">
      UberGo - официальный представитель компании Uber в Украине.
      <br>
      UberGo дает возможность водителям заработать сегодня.
      <br>
      Свободный график, ежедневные выплаты, бонусы за поездки, скидки на топливо.
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-sm-3">
        <a href="#" class="button"  data-toggle="modal" data-target=".modal">Стать водителем UBER</a>
      </div>
      <div class="col-sm-3 offset-sm-1">
        <a href="#" class="button">Сменить партнера</a>
      </div>
    </div>
  </div>
</div>

<div class="module module_theme_greeting" style="background-image: url('https://images.pexels.com/photos/17668/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');">
  <div class="text text_size_h1 text_color_white text_transform_uppercase spacer_bottom-40">
    Стань водителем UBER
  </div>
  <div class="container">
    <div class="text text_size_h3 text_color_white spacer_bottom-110">
      UberGo - официальный представитель компании Uber в Украине.
      <br>
      UberGo дает возможность водителям заработать сегодня.
      <br>
      Свободный график, ежедневные выплаты, бонусы за поездки, скидки на топливо.
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-sm-3">
        <a href="#" class="button"  data-toggle="modal" data-target=".modal">Стать водителем UBER</a>
      </div>
      <div class="col-sm-3 offset-sm-1">
        <a href="#" class="button">Сменить партнера</a>
      </div>
    </div>
  </div>
</div>

<div class="module module_theme_greeting" style="background-image: url('https://images.pexels.com/photos/376533/pexels-photo-376533.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=1200&w=800');">
  <div class="text text_size_h1 text_color_white text_transform_uppercase spacer_bottom-40">
    Стань водителем UBER
  </div>
  <div class="container">
    <div class="text text_size_h3 text_color_white spacer_bottom-110">
      UberGo - официальный представитель компании Uber в Украине.
      <br>
      UberGo дает возможность водителям заработать сегодня.
      <br>
      Свободный график, ежедневные выплаты, бонусы за поездки, скидки на топливо.
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-sm-3">
        <a href="#" class="button"  data-toggle="modal" data-target=".modal">Стать водителем UBER</a>
      </div>
      <div class="col-sm-3 offset-sm-1">
        <a href="#" class="button">Сменить партнера</a>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content popup">
      <span class="popup__close" data-dismiss="modal">×</span>

      <h2 class="text text_size_h3 spacer_bottom-25">Стать водителем UBER</h2>

      <%= form_for Driver.new, class: "form-uber" do |f| %>
        <div class="form-uber__item">
          <%= f.text_field :last_name, placeholder: "Фамилия", class: "form-uber__field" %>
        </div>
        <div class="form-uber__item">
          <%= f.text_field :first_name, placeholder: "Имя", class: "form-uber__field" %>
        </div>
        <div class="form-uber__item">
          <%= f.telephone_field :phone, placeholder: "Телефон", class: "form-uber__field" %>
        </div>
        <div class="form-uber__item">
          <%= f.email_field :email, placeholder: "Email", class: "form-uber__field" %>
        </div>
        <div class="form-uber__item">
          <%= f.text_field :bank, placeholder: "№ Карты. Название банка", class: "form-uber__field" %>
        </div>
        <div class="form-uber__item">
          <%= f.select :city, options_for_select(['Киев', 'Днепр']), {}, class: "form-uber__field" %>
        </div>
        <div class="form-uber__item">
          <%= f.fields_for :driver_license_front_attributes, f.object.build_driver_license_front do |dlff|%>
            <%= dlff.file_field :file, class: "form-uber__field" %>
          <% end %>
        </div>
        <div class="form-uber__item">
          <%= f.fields_for :driver_license_back_attributes, f.object.build_driver_license_back do |dlbf|%>
            <%= dlbf.file_field :file, class: "form-uber__field" %>
          <% end %>
        </div>
        <div class="form-uber__item">
          <%= f.fields_for :driver_tech_front_attributes, f.object.build_driver_tech_front do |dtf|%>
            <%= dtf.file_field :file, class: "form-uber__field" %>
          <% end %>
        </div>
        <div class="form-uber__item">
          <%= f.fields_for :driver_tech_back_attributes, f.object.build_driver_tech_back do |dtb|%>
            <%= dtb.file_field :file, class: "form-uber__field" %>
          <% end %>
        </div>
        <div class="form-uber__item">
          <%= f.fields_for :driver_osago_attributes, f.object.build_driver_osago do |dosago|%>
            <%= dosago.file_field :file, class: "form-uber__field" %>
          <% end %>
        </div>
        <div class="form-uber__item">
          <%= f.submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>
