<%= form_with(model: driver, url: [:admins, driver], local: true) do |form| %>
  <% if driver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(driver.errors.count, "error") %> prohibited this driver from being saved:</h2>

      <ul>
      <% driver.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :driver_last_name %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :driver_first_name %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :driver_phone %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :driver_email %>
  </div>

  <div class="field">
    <%= form.label :bank %>
    <%= form.text_field :bank, id: :driver_bank %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :driver_city %>
  </div>

  <%= render 'document_fields', form: form, doc_type: :driver_license_front %>
  <%= render 'document_fields', form: form, doc_type: :driver_license_back %>
  <%= render 'document_fields', form: form, doc_type: :driver_tech_front %>
  <%= render 'document_fields', form: form, doc_type: :driver_tech_back %>
  <%= render 'document_fields', form: form, doc_type: :driver_osago %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
