<!DOCTYPE html>
<html>
  <head>
    <title>UberGo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=cyrillic",
      media: "all" %>
    <%= stylesheet_link_tag "styleguide", media: "all" %>
    <%= javascript_include_tag "styleguide" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
