<!DOCTYPE html>
<html>
  <head>
    <title>UberGo</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700",
      media: "all" %>
    <%= stylesheet_link_tag "styleguide", media: "all" %>
    <%= javascript_include_tag "styleguide" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
